@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

h1 {
	letter-spacing: 2px;
    align-items: center;
    
}
.intro{
    margin:10px;
}
#clickMe{
    color: rgb(109, 109, 109);
    border: 2px solid  #FFF;
    border-radius: 10px;
    padding: 0px 12px;
    font-family: 'Lato';
    margin-bottom:10px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #001aff;
    transition: ease-out 0.2s;
}

.moves{
      font-size: 12px;
  }
  .ability{
    font-size: 12px;
}
.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
  display:flex;
  justify-content: center;
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
  height:410px;
  width:200px;
  transition: 0.3s ease-in-out;
}
.pokemon:hover{
  transform: scale(1.05);
}

.pokemon .img-container {
	width: 120px;
    background-color: #ffffff54;
    border-radius: 50%;
	height: 150px;
	text-align: center;
}
.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
  height:100px;
  justify-content:centre;
   transition: 0.3s ease-in-out;
}
.pokemon .img-container img:hover{
  transform: scale(1.5);
}
.pokemon .info {
	margin-top: 20px;
  
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}
h4{
  margin:0;
}
